/** Write your CSS in here **/
body{
    background-color: grey;
}

h1{
    
    text-align: center;
}
.slider{
    margin: 50px auto;
}
.jumbotron{
    background-color: honeydew;
}

button{
    border-radius: 12px;
}
